{% load humanize custom_filters %}

<div class="_contentGrid">
    {% for object in queryset %}
    <div data-testid="content-card" class="_contentCard">
        <div data-testid="card" class="_contentCard _card _borderless">
            <a href="{{ object.get_absolute_url }}" class="_contentCardLinkWrapper">
                <div class="_contentCardThumbnailWrapper">
                    <div class="LazyLoad is-visible _contentCardThumbnail">
                        <img 
                            src="{{ object.get_thumbnail }}" 
                            alt="{{ object.title }}" 
                            aria-hidden="true" 
                            class="_contentCardThumbnail _image_1v" 
                        >
                    </div>
                    {% if object.duration %}
                    <div class="_duration">
                        {{ object.duration }}
                    </div>
                    {% endif %}
                    
                    {% if object.is_coming_soon %}
                    <div class="absolute top-2 right-2 bg-gray-800 text-white px-2 py-1 rounded text-sm">
                        Coming Soon
                    </div>
                    {% endif %}
                </div>
                
                <div class="mt-2">
                    <h3 class="font-semibold text-base overflow-hidden max-h-[2.5rem] line-clamp-2">
                        {{ object.title }}
                    </h3>
                    <p class="text-sm text-gray-400">
                        Updated {{ object.updated|naturaltime }}
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>  