
#My Info
- Name: Unshu
- Email: unshu221b@gmail.com
- Github: https://github.com/unshu221b

# Project
- Repo url: https://github.com/unshu221b/Cursor-Django
- Root folder: /opt/cursor/projects/Cursor-Django
- Runtime: Python 3.12
- Python Environment: `venv` at `D:\Users\MASK221B\Desktop\Course-Platform\venv`
- Django root folder: `src`
- Django project name: `cfehome`
- Django run command: `venv/bin/python src/manage.py runserver 0.0.0.0:8000`