{% if not request.session.email_id %}
<div data-testid="sticky-footer" class="sticky-footer" id="sticky-footer">
    <div class="container-footer d-flex align-items-center justify-content-end mc-py-4">
        <p class="text-white font-semibold mc-text-h7 mc-opacity--hinted mc-mr-4">
            <span>Starting at $10/month (billed annually) for all classes and sessions</span>
        </p>
        <a class="text-white font-semibold bg-primary-button hover:bg-primary-button focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 text-center" href="/signup">Get Start</a>
    </div>
</div>
{% endif %}