{% load static %}

<nav class="bg-gm text-white p-2 sticky-navbar" style="background: linear-gradient(rgba(9, 10, 10, 0) 20%, transparent 100%);">
  <div class="container">
    <div class="flex items-center justify-between">
      <!-- Left section: Logo + Dropdown -->
      <div class="flex items-center space-x-4">
        <!-- Logo section -->
        <div class="flex items-center">
          <a href="/" class="flex items-center">
            <img src="{% static 'img/goldmage_logo_hori-removebg-preview.png' %}" alt="Logo" class="h-14 mc-pr-1 object-contain">
          </a>
        </div>
      </div>

      <!-- Right section: Auth links -->
      <div class="flex items-center space-x-4">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="text-white hover:text-blue-500 min-w-[3rem] sm:min-w-[4rem] text-center">登入</a>
        {% else %}
          <a href="{% url 'login' %}" class="text-white hover:text-blue-500 min-w-[3rem] sm:min-w-[4rem] text-center">登入</a>
          <a href="{% url 'signup' %}" 
             class="text-white font-semibold bg-primary-button hover:bg-primary-button focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-1 sm:px-6 sm:py-2 text-center min-w-[3rem] sm:min-w-[4rem]" 
             style="margin-left: 0.2rem !important;">註冊</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
