{% load static tailwind_tags %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dist/my.css' %}">
  {% tailwind_css %}
  

  <title>{% block head_title %}GoldMage - Online Learning Platform{% endblock head_title %}</title>
</head>
<body class="bg-gm" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% include 'base/navbar.html' %}
  
  <div class="{% if '/logout' in request.path or '/login' in request.path %}{% else %}w-full{% endif %}">
    {% block content %}{% endblock content %}
  </div>

  {% include 'base/js.html' %}
  {% block extra_js %}{% endblock extra_js %}
  <script src="{% static 'js/carousel.js' %}"></script>
</body>
</html>
