{% extends 'base.html' %}

{% block head_title %}
  Welcome to GoldMage - Learn from the Best
{% endblock head_title %}

{% block content %}
<main class="mc-page__content lg:py-16">
  <!-- Hero Section -->
  {% include 'base/hero.html' %}

  <!-- New Section: What You'll Get -->
  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"> 
      <h1 class="mb-4 text-2xl font-semibold leading-none tracking-tight md:text-xl lg:text-4xl text-gray-500 px-4 mx-auto max-w-screen-xl text-center">What You'll Get</h1>
      <ul class="text-white mc-mb-9 mc-mb-md-9">
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Access our full library of 200+ classes</span>
          <span class="d-md-none mc-text-h2">Access our full library of 200+ classes</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Watch on your computer, TV, phone, or tablet</span>
          <span class="d-md-none mc-text-h2">Watch on your computer, TV, phone, or tablet</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Learn on the go with audio-only lessons</span>
          <span class="d-md-none mc-text-h2">Learn on the go with audio-only lessons</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Download and watch offline (select plans)</span>
          <span class="d-md-none mc-text-h2">Download and watch offline (select plans)</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Unlock improved learning with class guides</span>
          <span class="d-md-none mc-text-h2">Unlock improved learning with class guides</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">Share with family and friends who live with you</span>
          <span class="d-md-none mc-text-h2">Share with family and friends who live with you</span>
        </li>
      </ul>
      <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-button hover:bg-primary-button focus:ring-4 focus:ring-primary-300">
      Learn more
      </a>
    </div>
  </section>  


  <!-- Main Content -->
  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <!-- Main Heading -->
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">
        Meet the world's best. <br> New classes added every month.
      </h1>
      <div class="category-container font-bold">
        <button class="category-button active" data-category="trending">
          <span class="icon">⭐</span>
          <span>Trending</span>
        </button>
        <button class="category-button" data-category="acting">
          <span class="icon">🎭</span>
          <span>Acting & Performing Arts</span>
        </button>
        <button class="category-button">
          <span class="icon">💼</span>
          <span>Business & Entrepreneurship</span>
        </button>
        <button class="category-button">
          <span class="icon">🏛️</span>
          <span>Community & Government</span>
        </button>
        <button class="category-button">
          <span class="icon">🍽️</span>
          <span>Food & Drink</span>
        </button>
        <button class="category-button">
          <span class="icon">🎨</span>
          <span>Art & Design</span>
        </button>
        <button class="category-button">
          <span class="icon">🎮</span>
          <span>Games & Digital Media</span>
        </button>
        <button class="category-button">
          <span class="icon">🎬</span>
          <span>Film & TV</span>
        </button>
        <button class="category-button">
          <span class="icon">😊</span>
          <span>Health & Wellness</span>
        </button>
        <button class="category-button">
          <span class="icon">🎵</span>
          <span>Music</span>
        </button>
        <button class="category-button">
          <span class="icon">🏞️</span>
          <span>Outdoor Adventures & Events</span>
        </button>
        <button class="category-button">
          <span class="icon">🔬</span>
          <span>Science & Technology</span>
        </button>
        <button class="category-button">
          <span class="icon">🏃</span>
          <span>Sports & Athletics</span>
        </button>
        <button class="category-button">
          <span class="icon">📚</span>
          <span>Writing</span>
        </button>
      </div>
  <!-- Featured Courses Section -->
    <div id="thumbnail-container" class="thumbnail-container">
    <!-- Thumbnails will be dynamically inserted here -->
    </div>
    <!-- Add this after your thumbnail-container div -->
    <div id="video-modal" class="fixed inset-0 bg-black bg-opacity-75 hidden items-center justify-center z-50">
      <div class="relative w-full max-w-4xl mx-4">
        <button id="close-modal" class="absolute -top-10 right-0 text-white hover:text-gray-300">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <div class="relative pt-[56.25%] bg-black rounded-lg overflow-hidden">
            <video id="video-container" class="cld-video-player absolute inset-0"></video>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"> 
      <h1 class="mc-pb-sm-5 text-2xl font-bold leading-none tracking-tight md:text-xl lg:text-4xl text-white px-4 mx-auto max-w-screen-xl text-center">Start your journey today.</h1>
      <ul class="mc-mb-8 mc-text--center mc-pb-sm-4">
        <div class="flex-md-row justify-content-center d-flex">
          <div class="justify-content-center d-flex flex-row">
            <span>
              <span class="text-gray-500 text-08opacity">200+ classes.Starting at </span> 
              <span class="text-white font-bold">$10/month</span>, 
              <span class="text-gray-500 text-08opacity">billed annually.</span>
            </span>
          </div>
        </div>
      </ul>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-button hover:bg-primary-button focus:ring-4 focus:ring-primary-300">
            Sign Up
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-secondary-button hover:bg-secondary-button border border-gray-300 focus:ring-4 focus:ring-gray-100">
            <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
            Explore Classes
        </a>  
    </div>
    </div>
  </section>

  <div class="" style="padding: 16px 32px;">
    <div class="econcompare-808">
      <div class="flex justify-center p-2">
        <img alt="本20冊1ヶ月で読む場合こんなにお得" src="/static/img/hptest101.webp" style="max-width: 386px; width: 100%;">
      </div>

      <div class="econGrid-container" style="position: relative;">
        <div class="con845 econGrid-container econGrid-item econGrid-grid-xs-6">
          <div class="econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font847 econTypo-body1 econAlignCenter" style="color: rgb(120, 124, 132);">通常</p>
          </div>
          <div class="justifyCenter853 econGrid-container econGrid-item econGrid-grid-xs-12">
            <img alt="" src="/static/media/books_compare_normal.b038febe.webp" width="120" height="205">
          </div>
          <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font848 econTypo-body1">費用</p>
            <div class="mdaf851">
              <p class="econTypo-root font852 econTypo-body1" style="color: rgb(79, 83, 92);">
                30,000
                <span class="econTypo-root econTypo-body1" style="font-size: 20px; font-weight: 700;">円</span>
              </p>
            </div>
          </div>
          <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font848 econTypo-body1">時間</p>
            <div class="mdaf851">
              <p class="econTypo-root font852 econTypo-body1" style="color: rgb(79, 83, 92);">
                120
                <span class="econTypo-root econTypo-body1" style="font-size: 20px; font-weight: 700;">時間</span>
              </p>
              <p class="econTypo-root econTypo-body1" style="color: rgb(79, 83, 92); font-size: 10px; font-weight: 700;">1冊あたり6時間</p>
            </div>
          </div>
        </div>
        <div class="border846 econGrid-container econGrid-item econGrid-grid-xs-6">
          <div class="econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font847 econTypo-body1 econAlignCenter" style="color: rgb(63, 198, 255);">Dラボなら</p>
          </div>
          <div class="justifyCenter853 econGrid-container econGrid-item econGrid-grid-xs-12">
            <img alt="" src="/static/media/books_compare_dlab.6191d7ba.webp" width="120" height="205">
          </div>
          <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font848 econTypo-body1">費用</p>
            <div class="mdaf851">
              <p class="econTypo-root font852 econTypo-body1" style="color: rgb(251, 153, 63);">
                1,333
                <span class="econTypo-root econTypo-body1" style="font-size: 20px; font-weight: 700;">円</span>
              </p>
            </div>
          </div>
          <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
            <p class="econTypo-root font848 econTypo-body1">時間</p>
            <div class="mdaf851">
              <p class="econTypo-root font852 econTypo-body1" style="color: rgb(251, 153, 63);">
                1
                <span class="econTypo-root econTypo-body1" style="font-size: 20px; font-weight: 700;">日</span>
                10
                <span class="econTypo-root econTypo-body1" style="font-size: 20px; font-weight: 700;">分</span>
              </p>
              <p class="econTypo-root econTypo-body1" style="color: rgb(251, 153, 63); font-size: 10px; font-weight: 700;">月4～5時間</p>
            </div>
          </div>
        </div>
        <div class="pos854">
          <svg width="53" height="31" viewBox="0 0 53 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.79541 7.94092H45.271V22.8301H0.79541V7.94092Z" fill="#08AEF4"></path>
            <path d="M52.0391 15.3855L40.4367 28.7098L40.4367 2.06127L52.0391 15.3855Z" fill="#08AEF4"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section text-white py-16">
    <h2 class="text-center text-3xl font-bold mb-8">See what our members are saying.</h2>
    <div class="testimonial-container flex justify-center items-center">
        <!-- Hide arrows on mobile, show on md (768px) and up -->
        <button class="prev-button bg-gray-800 rounded-full p-2 mx-4 hidden md:block">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        <img src="/static/img/20220804.jpg" alt="Member Image" class="rounded-lg mx-4" style="max-width: 200px;">
        <div class="testimonial-card bg-gray-800 p-8 rounded-lg max-w-md">
            <p class="mb-4">"I've watched 36 MasterClasses by tuning in while I'm in the bathroom, eating, and doing chores around the house. MasterClass teaches us how to live—with passion, grit, humility, and with a process that makes our life journeys something to savor instead."</p>
            <p class="font-bold">Clarissa</p>
            <p>Founder & Teacher, USA</p>
        </div>
        <button class="next-button bg-gray-800 rounded-full p-2 mx-4 hidden md:block">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
    <div class="flex justify-center mt-4">
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
    </div>
  </div>
  
    <h2 class="text-white text-center text-3xl font-bold mb-8">Frequently asked questions.</h2>
    <div class="accordion row-accordion">
      <div class="accordion-item col-md-8 offset-md-2 mb-4">
        <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
          <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
            <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question1" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question1" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
              <p class="mc-text--bold">What is MasterClass?</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
          <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question1" hidden="">
            <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
              <p class="mc-opacity--hinted">MasterClass is the streaming platform that makes it possible for anyone to watch or listen to hundreds of video lessons taught by 200+ of the world's best.</p> 
              <br> 
              <p class="mc-opacity--hinted">Whether it be in business and leadership, photography, cooking, writing, acting, music, sports and more, MasterClass delivers a world class online learning experience. Video lessons are available anytime, anywhere on your smartphone, personal computer, Apple TV and FireTV streaming media players.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item col-md-8 offset-md-2 mb-4">
        <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
          <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
            <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question2" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question2" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
              <p class="mc-text--bold">What is included in a MasterClass membership?</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
          <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question2" hidden="">
            <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
              <p class="mc-opacity--hinted">Your MasterClass membership includes unlimited access to all classes, new classes as they launch, downloadable workbooks, and our smartphone and TV apps.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item col-md-8 offset-md-2 mb-4">
        <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
          <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
            <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question3" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question3" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
              <p class="mc-text--bold">Where can I watch?</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
          <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question3" hidden="">
            <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
              <p class="mc-opacity--hinted">With MasterClass, you can learn and be inspired anytime, anywhere, including your smartphone, personal computer, Apple TV, Amazon Fire TV, and Roku players and devices.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item col-md-8 offset-md-2 mb-4">
        <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
          <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
            <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question4" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question4" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
              <p class="mc-text--bold">How much does MasterClass cost?</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
          <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question4" hidden="">
            <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
              <p class="mc-opacity--hinted">The annual membership is $180 and provides unlimited access to all classes and new classes as they launch. All memberships include access to our mobile and TV apps, high-definition videos, and downloadable workbooks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</main>
{% include 'base/footer.html' %}
{% include 'base/footer-sticky.html' %}
{% endblock content %}
