{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  歡迎來到金法師 - 向最優秀的導師學習
{% endblock head_title %}

{% block content %}
<main class="mc-page__content lg:py-16">
  <div class="gold-glow gold-0"></div>
  <!-- Hero Section -->
  {% include 'base/hero.html' %}

  <!-- New Section: What You'll Get -->
  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"> 
      <h1 class="mb-4 text-2xl font-semibold leading-none tracking-tight md:text-xl lg:text-4xl text-gray-500 px-4 mx-auto max-w-screen-xl text-center">您將獲得的內容</h1>
      <ul class="text-white mc-mb-9 mc-mb-md-9">
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">完整存取超過200堂課程的資料庫</span>
          <span class="d-md-none mc-text-h2">完整存取超過200堂課程的資料庫</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">可在電腦、電視、手機或平板上觀看</span>
          <span class="d-md-none mc-text-h2">可在電腦、電視、手機或平板上觀看</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">透過純音頻課程隨時學習</span>
          <span class="d-md-none mc-text-h2">透過純音頻課程隨時學習</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">下載課程離線觀看（特定方案）</span>
          <span class="d-md-none mc-text-h2">下載課程離線觀看（特定方案）</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">透過課程指南提升學習效果</span>
          <span class="d-md-none mc-text-h2">透過課程指南提升學習效果</span>
        </li>
        <li class="mc-py-3 mc-py-md-2 mc-px-10 mc-px-md-4">
          <span class="d-none d-md-inline-block mc-text-h3">與同住的家人和朋友一起分享學習</span>
          <span class="d-md-none mc-text-h2">與同住的家人和朋友一起分享學習</span>
        </li>
      </ul>
        <div class="flex justify-center">
          <a tabindex="0" 
             role="link" 
             href="/signup?from=hero" 
             class="text-2xs/3 px-6 py-3 tracking-[0.28em] md:px-8 md:py-5 md:text-sm/4 xl:px-12 xl:py-6 
                    group relative m-px flex h-fit items-center justify-center 
                    whitespace-nowrap font-normal uppercase text-white 
                    w-fit mx-auto herobutton" 
             data-testid="enroll-button" 
             id="enroll-button">
              <span class="relative z-10">
                  <div class="flex items-center gap-4 text-xs/4 tracking-[1.44px] sm:text-base/5 lg:gap-5 xl:text-lg">
                      <span class="uppercase whitespace-nowrap">立即報名</span> 
                  </div>
              </span> 
              <span class="clipped bg-linear-gradient absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-0 transition-opacity duration-300 ease-out herobutton group-hover:opacity-100 group-focus-visible:opacity-100"></span> 
              <span class="clipped bg-brand absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-100 transition-opacity duration-300 ease-out herobutton group-hover:opacity-0 group-focus-visible:opacity-0"></span>
          </a>
        </div>
    </div>
  </section>  


  <!-- Main Content -->
  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <!-- Main Heading -->
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">
        與世界頂尖大師相遇 <br> 每月更新精彩課程
      </h1>
      <div class="category-container font-bold">
        <button class="category-button active" data-category="trending">
          <span class="icon">⭐</span>
          <span>熱門推薦</span>
        </button>
        <button class="category-button" data-category="acting">
          <span class="icon">🎭</span>
          <span>表演藝術</span>
        </button>
        <button class="category-button">
          <span class="icon">💼</span>
          <span>商業與創業</span>
        </button>
        <button class="category-button">
          <span class="icon">🏛️</span>
          <span>社群與政府</span>
        </button>
        <button class="category-button">
          <span class="icon">🍽️</span>
          <span>美食與飲品</span>
        </button>
        <button class="category-button">
          <span class="icon">🎨</span>
          <span>藝術與設計</span>
        </button>
        <button class="category-button">
          <span class="icon">🎮</span>
          <span>遊戲與數位媒體</span>
        </button>
        <button class="category-button">
          <span class="icon">🎬</span>
          <span>電影與電視</span>
        </button>
        <button class="category-button">
          <span class="icon">😊</span>
          <span>健康與養生</span>
        </button>
        <button class="category-button">
          <span class="icon">🎵</span>
          <span>音樂</span>
        </button>
        <button class="category-button">
          <span class="icon">🏞️</span>
          <span>戶外冒險與活動</span>
        </button>
        <button class="category-button">
          <span class="icon">🔬</span>
          <span>科學與科技</span>
        </button>
        <button class="category-button">
          <span class="icon">🏃</span>
          <span>運動與體育</span>
        </button>
        <button class="category-button">
          <span class="icon">📚</span>
          <span>寫作</span>
        </button>
      </div>
  <!-- Featured Courses Section -->
    <div id="thumbnail-container" class="thumbnail-container">
    <!-- Thumbnails will be dynamically inserted here -->
    </div>
    <!-- Add this after your thumbnail-container div -->
    <div id="video-modal" class="fixed inset-0 bg-black bg-opacity-75 hidden items-center justify-center z-50">
      <div class="relative w-full max-w-4xl mx-4">
        <button id="close-modal" class="absolute -top-10 right-0 text-white hover:text-gray-300">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <div class="relative pt-[56.25%] bg-black rounded-lg overflow-hidden">
            <video id="video-container" class="cld-video-player absolute inset-0"></video>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <a tabindex="0" 
         role="link" 
         href="/signup?from=hero" 
         class="text-2xs/3 px-6 py-3 tracking-[0.28em] md:px-8 md:py-5 md:text-sm/4 xl:px-12 xl:py-6 
                group relative m-px flex h-fit items-center justify-center 
                whitespace-nowrap font-normal uppercase text-white 
                w-fit mx-auto herobutton" 
         data-testid="enroll-button" 
         id="enroll-button">
          <span class="relative z-10">
              <div class="flex items-center gap-4 text-xs/4 tracking-[1.44px] sm:text-base/5 lg:gap-5 xl:text-lg">
                  <span class="uppercase whitespace-nowrap">立即報名</span> 
              </div>
          </span> 
          <span class="clipped bg-linear-gradient absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-0 transition-opacity duration-300 ease-out herobutton group-hover:opacity-100 group-focus-visible:opacity-100"></span> 
          <span class="clipped bg-brand absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-100 transition-opacity duration-300 ease-out herobutton group-hover:opacity-0 group-focus-visible:opacity-0"></span>
      </a>
    </div>
  </section>


  <section class="bg-gm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"> 
      <h1 class="mc-pb-sm-5 text-2xl font-bold leading-none tracking-tight md:text-xl lg:text-4xl text-white px-4 mx-auto max-w-screen-xl text-center">閱讀20本書一個月可以省下這麼多</h1>
      <div class="" style="padding: 16px 32px;">
        <div class="econcompare-808">
          <div class="econGrid-container" style="position: relative;">
            <div class="con845 econGrid-container econGrid-item econGrid-grid-xs-6">
              <div class="econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font847 econTypo-body1 econAlignCenter text-xl md:text-2xl text-white">一般閱讀</p>
              </div>
    
              <div class="justifyCenter853 econGrid-container econGrid-item econGrid-grid-xs-12">
                <img alt="" src="/static/img/9to5.webp" width="200" height="200">
              </div>
    
              <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font848 econTypo-body1 text-lg md:text-xl">費用</p>
                <div class="mdaf851">
                  <p class="econTypo-root font852 econTypo-body1 text-2xl md:text-3xl text-white">
                    2000
                    <span class="econTypo-root econTypo-body1" style="font-size: 24px; font-weight: 700;">元</span>
                  </p>
                </div>
              </div>
              <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font848 econTypo-body1 text-lg md:text-xl">時間</p>
                <div class="mdaf851">
                  <p class="econTypo-root font852 econTypo-body1 text-2xl md:text-3xl text-white">
                    120
                    <span class="econTypo-root econTypo-body1" style="font-size: 24px; font-weight: 700;">小時</span>
                  </p>
                  <p class="econTypo-root econTypo-body1 text-sm md:text-base text-white" style="font-weight: 700;">每本書需要6小時</p>
                </div>
              </div>
            </div>
            <div class="border846 econGrid-container econGrid-item econGrid-grid-xs-6">
              <div class="econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font847 econTypo-body1 econAlignCenter text-xl md:text-2xl" style="color: #F8CF40;">使用金法師</p>
              </div>
              <div class="justifyCenter853 econGrid-container econGrid-item econGrid-grid-xs-12">
                <img alt="" src="/static/img/econcompare-demo.webp" width="200" height="200">
              </div>
              <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font848 econTypo-body1 text-lg md:text-xl">費用</p>
                <div class="mdaf851">
                  <p class="econTypo-root font852 econTypo-body1 text-2xl md:text-3xl" style="color: #F8CF40;">
                    80
                    <span class="econTypo-root econTypo-body1" style="font-size: 24px; font-weight: 700;">元</span>
                  </p>
                </div>
              </div>
              <div class="bt849 dpa850 econGrid-item econGrid-grid-xs-12">
                <p class="econTypo-root font848 econTypo-body1 text-lg md:text-xl">時間</p>
                <div class="mdaf851">
                  <p class="econTypo-root font852 econTypo-body1 text-2xl md:text-3xl" style="color: #F8CF40;">
                    1
                    <span class="econTypo-root econTypo-body1" style="font-size: 24px; font-weight: 700;">天</span>
                    10
                    <span class="econTypo-root econTypo-body1" style="font-size: 24px; font-weight: 700;">分鐘</span>
                  </p>
                  <p class="econTypo-root econTypo-body1 text-sm md:text-base" style="color: #F8CF40; font-weight: 700;">每月只需4～5小時</p>
                </div>
              </div>
            </div>
            <div class="pos854">
              <svg width="53" height="31" viewBox="0 0 53 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.79541 7.94092H45.271V22.8301H0.79541V7.94092Z" fill="#0071FF"></path>
                <path d="M52.0391 15.3855L40.4367 28.7098L40.4367 2.06127L52.0391 15.3855Z" fill="#0071FF"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a tabindex="0" 
             role="link" 
             href="/signup?from=hero" 
             class="text-2xs/3 px-6 py-3 tracking-[0.28em] md:px-8 md:py-5 md:text-sm/4 xl:px-12 xl:py-6 
                    group relative m-px flex h-fit items-center justify-center 
                    whitespace-nowrap font-normal uppercase text-white 
                    w-fit mx-auto herobutton" 
             data-testid="enroll-button" 
             id="enroll-button">
              <span class="relative z-10">
                  <div class="flex items-center gap-4 text-xs/4 tracking-[1.44px] sm:text-base/5 lg:gap-5 xl:text-lg">
                      <span class="uppercase whitespace-nowrap">立即報名</span> 
                  </div>
              </span> 
              <span class="clipped bg-linear-gradient absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-0 transition-opacity duration-300 ease-out herobutton group-hover:opacity-100 group-focus-visible:opacity-100"></span> 
              <span class="clipped bg-brand absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-100 transition-opacity duration-300 ease-out herobutton group-hover:opacity-0 group-focus-visible:opacity-0"></span>
          </a>
    </div>
    </div>
  </section>

  <div class="testimonial-section text-white py-16">
    <h2 class="text-center text-3xl font-bold mb-8">聽聽我們的會員怎麼說</h2>
    <div class="testimonial-container flex justify-center items-center">
        <!-- Hide arrows on mobile, show on md (768px) and up -->
        <button class="prev-button bg-gray-800 rounded-full p-2 mx-4 hidden md:block">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        <img src="/static/img/20220804.jpg" alt="會員照片" class="rounded-lg mx-4" style="max-width: 200px;">
        <div class="testimonial-card bg-gray-800 p-8 rounded-lg max-w-md">
            <p class="mb-4">"我在洗手間、吃飯和做家務時收看了36堂大師課。金法師教導我們如何生活——以熱情、毅力、謙遜的態度，以及一個讓我們的人生旅程值得品味的過程。"</p>
            <p class="font-bold">克拉麗莎</p>
            <p>創辦人兼教師，美國</p>
        </div>
        <button class="next-button bg-gray-800 rounded-full p-2 mx-4 hidden md:block">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
    <div class="flex justify-center mt-4">
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
        <span class="dot bg-white rounded-full w-2 h-2 mx-1"></span>
    </div>
  </div>

  <section id="membership-plan-box" data-scroll-id="membership-tile" class="martop-20 lg:mb-16 mb-10 flex flex-col items-center gap-8 px-4">
    <div class="relative h-fit w-[300px] rounded-lg p-px text-left sm:p-px md:w-[376px] lg:w-[440px] xl:w-[450px]">
      <div class="gradient-background absolute left-0 top-0 h-full w-full rounded-lg p-px lg:rounded-2xl"></div>
      <div class="bg-stark relative z-10 flex h-full min-h-fit flex-col items-center gap-6 rounded-lg p-6 py-12 opacity-[0.975] md:py-16 lg:gap-12 lg:rounded-2xl xl:px-12">
        <!-- Plan Header -->
        <header class="text-center lg:mt-3">
          <div>
            <h2 class="xl:leading-11 font-base mb-1 uppercase tracking-widest md:whitespace-nowrap md:text-xl lg:text-2xl lg:tracking-[0.25rem] xl:text-[2rem]">
              年度學費方案
            </h2> 
          </div>
        </header>
        <div class="text-primary flex h-full max-w-96 flex-col gap-6 text-center lg:gap-10">
          <p class="text-primary text-[11px] font-light leading-5 lg:text-[0.875rem] xl:text-base/7">
            立即註冊，即可完整存取金法師學院所有現有和未來課程，每月新增四堂精彩課程。
          </p> 
          <div class="flex h-full min-h-20 flex-col justify-center gap-4 xl:gap-6">
            <div>
              <p class="text-primary text-lg/5 font-semibold lg:text-2xl/5 xl:text-3xl/6">
                <span>HK$960</span> 
              </p> 
              <p class="text-tertiary text-[0.75rem]/6 lg:text-sm/8">
                （年繳方案）
              </p>
            </div>
          </div>
        </div>

      <!-- Action Button -->
        <a tabindex="0" 
           role="link" 
           href="/signup?from=membership" 
           class="text-2xs/3 px-6 py-3 tracking-[0.28em] md:px-8 md:py-5 md:text-sm/4 xl:px-12 xl:py-6 font-montserrat group relative m-px flex h-fit items-center justify-center whitespace-nowrap font-normal uppercase text-white w-1/2 mx-auto tracking-widest svelte-13w7uxb" 
           data-testid="enroll-button" 
           disabled="false" 
           id="enroll-button" 
           type="submit"
        >
          <span class="relative z-10">Enroll now</span> 
          <span class="clipped bg-linear-gradient absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-0 transition-opacity duration-300 ease-out group-hover:opacity-100 group-focus-visible:opacity-100"></span> 
          <span class="clipped bg-brand absolute -left-[1.5px] -top-[1.5px] z-0 h-[calc(100%+3px)] w-[calc(100%+3px)] opacity-100 transition-opacity duration-300 ease-out group-hover:opacity-0 group-focus-visible:opacity-0"></span>
        </a>
      </div>
      </div>
    </section>
      


       <!-- New Mailing List Section -->
      <section data-scroll-id="newsletter" class="relative flex flex-col items-center gap-8 px-4 martop-20 mb-20 xl:martop-30">
        <div class="font-montserrat max-w-2xl text-center">
          <div class="flex flex-col items-center gap-5 sm:gap-8">
            <h3 class="font-montserrat xl:text-[45px]/18 2xl:text-[2.75rem]/16 3xl:text-4xl/18 sm:text-2xl/11 text-center text-lg/8 font-extralight uppercase tracking-[0.175em] xl:tracking-widest flex items-center gap-4">
              <span class="xl:text-3xl/13 2xl:text-[2rem]/11 flex items-center gap-4 sm:text-2xl"> 
                <span class="sm:whitespace-nowrap text-center">Join the Mailing List</span>
              </span>
            </h3> 
            <p class="3xl:text-[18px] text-xs/5 font-light sm:leading-8 2xl:text-base">Be the first to experience exclusive content, receive real-time updates, and participate in
              live events.
            </p> 
            <form class="mt-2 flex w-full flex-col items-center gap-6 md:-mt-6">
              <div class="relative w-[280px] mx-auto flex items-center">
                <input 
                  type="email" 
                  autocomplete="email"
                  id="email-address-icon" 
                  class="w-full pl-14 p-3 rounded-lg text-sm
                         bg-gray-800/50 backdrop-blur-sm
                         border border-gray-600/50
                         text-gray-300 placeholder-gray-400
                         focus:ring-1 focus:ring-gray-500 focus:border-gray-500"
                  placeholder="Email Address"
                  pattern="[^@]+@[^@]+\.[^@]+"
                  title="The email address must include a domain name"
                  required=""
                >
              </div>
              <button 
                role="button" 
                class="lg primaryText flex h-fit items-center justify-center whitespace-nowrap text-white uppercase hover:underline" 
                id="mailing-list-sign-up-button" 
                data-testid="mailing-list-sign-up-button" 
                type="submit"
              >
                Join now
              </button>
            </form>
          </div>
        </div>
      </section>

      <h2 class="text-white text-center text-3xl font-bold mb-8">常見問題</h2>
      <div class="accordion row-accordion">
        <div class="accordion-item col-md-8 offset-md-2 mb-4">
          <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
            <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
              <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question1" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question1" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                <p class="mc-text--bold">什麼是金法師？</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                  <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question1" hidden="">
              <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
                <p class="mc-opacity--hinted">金法師是一個串流平台，讓任何人都能觀看或收聽由200多位世界頂尖大師教授的數百堂視頻課程。</p> 
                <br> 
                <p class="mc-opacity--hinted">無論是在商業領導、攝影、烹飪、寫作、表演、音樂、運動等領域，金法師都提供世界級的線上學習體驗。您可以隨時隨地通過智能手機、個人電腦、Apple TV和FireTV串流媒體播放器觀看視頻課程。</p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item col-md-8 offset-md-2 mb-4">
          <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
            <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
              <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question2" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question2" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                <p class="mc-text--bold">金法師會員資格包含什麼？</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                  <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question2" hidden="">
              <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
                <p class="mc-opacity--hinted">您的金法師會員資格包括無限制訪問所有課程、新課程上線即可觀看、可下載的課程講義，以及我們的智能手機和電視應用程式。</p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item col-md-8 offset-md-2 mb-4">
          <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
            <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
              <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question3" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question3" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                <p class="mc-text--bold">在哪裡可以觀看？</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                  <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question3" hidden="">
              <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
                <p class="mc-opacity--hinted">使用金法師，您可以隨時隨地學習和獲得啟發，包括在智能手機、個人電腦、Apple TV、Amazon Fire TV以及Roku播放器和設備上。</p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item col-md-8 offset-md-2 mb-4">
          <div data-accordion-component="AccordionItem" class="mc-accordion__item mc-mb-4">
            <div data-accordion-component="AccordionItemHeading" aria-level="4" role="heading" class="accordion__heading">
              <div class="mc-accordion__button mc-p-4 mc-mb-1 undefined flex justify-between items-center w-full" id="accordion__heading-faq.general.question4" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-faq.general.question4" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                <p class="mc-text--bold">金法師的費用是多少？</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 24" aria-hidden="true" role="img" class="mc-icon mc-icon--md mc-ml-5 mc-accordion__icon undefined">
                  <path fill="currentColor" fill-rule="evenodd" d="M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <div data-accordion-component="AccordionItemPanel" class="accordion__panel" id="accordion__panel-faq.general.question4" hidden="">
              <div class="mc-p-4 mc-pt-0 mc-mb-1 undefined">
                <p class="mc-opacity--hinted">年費會員為180美元，提供無限制訪問所有課程以及新課程上線即可觀看。所有會員資格都包括訪問我們的移動和電視應用程式、高清視頻和可下載的課程講義。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</main>
{% include 'base/footer.html' %}
{% include 'base/footer-sticky.html' %}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/testimonials.js' %}"></script>
<script src="{% static 'js/thumbnails.js' %}"></script>
<script src="{% static 'js/landing-footer.js' %}"></script>
{% endblock extra_js %}
