{% load static %}
    <header class="header-52side">
        <div class="container-52sideheader">
            <button type="button" tabindex="0" aria-expanded="false" aria-label="View all sessions" class="button-52allsession" data-rac="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-allsession">
                    <rect width="7" height="7" x="3" y="3" rx="1"></rect>
                    <rect width="7" height="7" x="3" y="14" rx="1"></rect>
                    <path d="M14 4h7"></path>
                    <path d="M14 9h7"></path>
                    <path d="M14 15h7"></path>
                    <path d="M14 20h7"></path>
                </svg>
            </button>
        </div>
        <div class="absoluteCenter-52header">
            <div aria-label="Output mode" role="radiogroup" aria-orientation="vertical" id="" class="Group-52header" data-rac="" data-orientation="vertical">
                <label class="Item-52header" data-rac="" data-selected="true">
                    <span style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;">
                        <input aria-label="Switch to image mode" tabindex="0" type="radio" name="" value="image" checked="" title="">
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headflex">
                            <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
                            <circle cx="9" cy="9" r="2"></circle>
                            <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"></path>
                    </svg>Image
                </label>
                <label class="Item-52header" data-rac="">
                    <span style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;">
                        <input aria-label="Switch to video mode" tabindex="-1" type="radio" name="" value="video" title="">
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headflex">
                        <path d="m16 13 5.223 3.482a.5.5 0 0 0 .777-.416V7.87a.5.5 0 0 0-.752-.432L16 10.5"></path>
                        <rect x="2" y="6" width="14" height="12" rx="2"></rect>
                    </svg>Video
                </label>
            </div>
        </div>
    </header>
    <div role="presentation" class="" style="display: block;">
        <div class="dropzone-textbox main-textbox" data-state="idle">
            <div id="chat-architect-root"></div>
            <script src="{% static 'react/static/js/main.375c6913.js' %}"></script>
            <section class="settingsContainer-52">
                <button data-soft-disabled="false" type="button" tabindex="0" class="container-52settings tertiary-52settings small-52settings button-52settings" data-rac="" id="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-images">
                        <path d="M18 22H4a2 2 0 0 1-2-2V6"></path>
                        <path d="m22 13-1.296-1.296a2.41 2.41 0 0 0-3.408 0L11 18"></path>
                        <circle cx="12" cy="8" r="2"></circle>
                        <rect width="16" height="16" x="6" y="2" rx="2"></rect>
                    </svg>
                </button>
                <div class="settings-boxflexright">
                    <button data-open="false" type="button" tabindex="0" aria-expanded="false" id="" class="button-settings52" data-rac="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="setcon">
                            <path d="M20 7h-9"></path>
                            <path d="M14 17H5"></path>
                            <circle cx="17" cy="17" r="3"></circle>
                            <circle cx="7" cy="7" r="3"></circle>
                        </svg>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <footer class="footer-52side" style="background-color: #131416;">
        <div class="footerButtons-reset">
            <button type="button" tabindex="0" class="resetbut iconButton-reset" data-rac="" id="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
                    <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path>
                    <path d="M3 3v5h5"></path>
                </svg>
            </button>
        </div>
        <button data-soft-disabled="true" type="button" tabindex="0" class="primaryButton-generate" data-rac="" id="">
            <span style="position: relative;">
                <span class="gengen">
                    <svg width="16" height="16" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier">
                        <path d="M510 508.4m-210.8 0a210.8 210.8 0 1 0 421.6 0 210.8 210.8 0 1 0-421.6 0Z" fill="#E6E6E6"/>
                        <path d="M510 363.4c-80 0-145 65.1-145 145s65.1 145 145 145 145-65.1 145-145-65-145-145-145z" fill="#FFFFFF"/>
                        <path d="M510 343.4c-91 0-165 74-165 165s74 165 165 165 165-74 165-165-74-165-165-165z m0 310.1c-80 0-145-65.1-145-145s65.1-145 145-145 145 65.1 145 145-65 145-145 145z" fill="#525252"/>
                        <path d="M795.4 488.4H760c-4.7-59.5-30-114.7-72.7-157.4s-98.1-68.1-157.7-72.7v-36.6c0-11-9-20-20-20s-20 9-20 20v36.7c-59.3 4.7-114.5 30.1-157 72.6-42.6 42.6-68 97.9-72.7 157.4H226c-11 0-20 9-20 20s9 20 20 20h34c4.7 59.5 30 114.7 72.7 157.4 42.5 42.5 97.7 67.9 157 72.6v35.5c0 11 9 20 20 20s20-9 20-20v-35.4c59.6-4.6 115-30 157.7-72.7 42.6-42.6 68-97.9 72.7-157.4h35.4c11 0 20-9 20-20s-9-20-20.1-20zM529.7 718.3v-51.9c0-11-9-20-20-20s-20 9-20 20v51.8c-100.1-9.6-180-89.6-189.5-189.8h52.6c11 0 20-9 20-20s-9-20-20-20h-52.6c9.5-100.2 89.4-180.2 189.5-189.8v50.3c0 11 9 20 20 20s20-9 20-20v-50.3c100.5 9.3 180.7 89.5 190.2 189.9h-49.5c-11 0-20 9-20 20s9 20 20 20h49.5c-9.5 100.4-89.8 180.5-190.2 189.8z" fill="#ffffff"/>         
                        <path d="M880.4 158c0-11-9-20-20-20H510c-50 0-98.5 9.8-144.2 29.1-44.1 18.7-83.7 45.4-117.7 79.4-34 34-60.7 73.6-79.4 117.7-19.3 45.7-29.1 94.2-29.1 144.2 0 11 9 20 20 20s20-9 20-20C179.6 326.2 327.8 178 510 178h281.3v54.5c0 8.9 10.7 13.3 17 7l67.1-67.1c1.6-1.6 2.5-3.4 2.8-5.3 1.4-2.7 2.2-5.8 2.2-9.1zM860.4 488.4c-11 0-20 9-20 20 0 182.2-148.2 330.4-330.4 330.4H230.3V783c0-8.9-10.7-13.3-17-7l-67.1 67.1c-1 1-1.8 2.2-2.3 3.4-2.7 3.4-4.3 7.7-4.3 12.4 0 11 9 20 20 20H510c50 0 98.5-9.8 144.2-29.1 44.1-18.7 83.7-45.4 117.7-79.4 34-34 60.7-73.6 79.4-117.7 19.3-45.7 29.1-94.2 29.1-144.2 0-11.1-8.9-20.1-20-20.1z" fill="#ffffff"/>
                        </g>
                    </svg>Generate
                </span>
            </span>
        </button>
    </footer>